/*
Reccito API

 # Reccito API  A receipt management platform that enables businesses to create, manage, and share digital receipts with customers through QR codes, mobile apps, and web interfaces.  ## Key Features  ### 🏢 **Multi-Tenant Architecture** - Organization and store hierarchy - Scoped API access and permissions - Isolated data per organization  ### 📱 **Digital Receipt Management** - Create and store digital receipts - Generate QR codes for easy customer access - Barcode generation for physical receipts - Time-limited QR codes for security  ### 🔐 **Authentication & Security** - API key authentication for merchants - JWT token authentication for customers - Phone-based customer verification with SMS - Rate limiting per organization - Permission-based access control  ## Authentication  ### Merchant Authentication (API Keys) ``` Authorization: Bearer rcp_live_1234567890abcdef ```  Merchants use API keys to access business endpoints. API keys can be scoped to: - **Organization level**: Access to all stores within organization - **Store level**: Access limited to specific store  ## Rate Limits  API requests are rate limited per organization (defaults: 60/minute, 1,000/hour, 10,000/day; configurable per organization). Responses include rate limit headers: - `X-RateLimit-Limit-Minute` / `X-RateLimit-Remaining-Minute` / `X-RateLimit-Reset-Minute` - `X-RateLimit-Limit-Hour` / `X-RateLimit-Remaining-Hour` / `X-RateLimit-Reset-Hour`  ## Error Handling  The API uses standard HTTP status codes. Error responses use one of two shapes depending on the endpoint — integrators should handle both:  - `404` and `500` responses use a structured envelope:   ```json   {       \"error\": {           \"code\": \"NOT_FOUND\",           \"message\": \"The requested resource was not found\",           \"path\": \"/api/v1/merchant/receipts/abc\"       }   }   ``` - All other error responses (400, 401, 403, 422, etc.) use FastAPI's default   `{\"detail\": ...}` shape, where `detail` may be a plain string or a   structured object depending on the endpoint. For example:   ```json   { \"detail\": \"No active subscription found.\" }   ```   or   ```json   { \"detail\": { \"code\": \"free_tier_quota_exceeded\", \"message\": \"...\" } }   ```   `422` validation errors follow FastAPI's standard `detail: [...]` array   shape (field, message, error type per invalid field).  ## Pagination  List endpoints use offset pagination (`page`/`limit` query parameters):  ```json {     \"receipts\": [...],     \"total\": 150,     \"page\": 1,     \"limit\": 25,     \"has_next\": true,     \"has_prev\": false } ```  ## Data Formats  ### Dates and Times Timestamps are ISO 8601. Most are UTC with an explicit offset (`2024-01-15T14:30:00+00:00`); a few older fields may omit the offset — treat any timestamp without one as UTC.  ### Currency and Amounts Monetary amounts are serialized as **decimal strings** (not numbers), with a separate `currency` field. This avoids floating-point precision loss and keeps every money field consistent across the API: ```json {     \"total_amount\": \"12.99\",     \"currency\": \"GBP\" } ``` Request bodies still lenient-accept a JSON number for amounts, but the published contract and every response are string-only.  ### ULIDs Receipt IDs use ULID format for better performance and sortability: ```json \"01HZXYZ123456789ABCD\" ```  ## Support  - **Support**: [dev-support@reccito.com](mailto:dev-support@reccito.com) - **Interactive docs**: [https://api.reccito.com/api/v1/redoc](https://api.reccito.com/api/v1/redoc)    This document covers Reccito's public integrations API. Admin and account-internal operations are not included. 

API version: 1.0.0
Contact: dev-support@reccito.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reccitosdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MerchantReceiptsAPIService MerchantReceiptsAPI service
type MerchantReceiptsAPIService service

type ApiCreateReceiptRequest struct {
	ctx context.Context
	ApiService *MerchantReceiptsAPIService
	receiptCreate *ReceiptCreate
}

func (r ApiCreateReceiptRequest) ReceiptCreate(receiptCreate ReceiptCreate) ApiCreateReceiptRequest {
	r.receiptCreate = &receiptCreate
	return r
}

func (r ApiCreateReceiptRequest) Execute() (*ReceiptImmediateResponse, *http.Response, error) {
	return r.ApiService.CreateReceiptExecute(r)
}

/*
CreateReceipt Create Receipt

Create a new receipt. Synchronous: the receipt is durably persisted
before this returns (see ReceiptService.create_receipt_synchronously).
A retry with the same dedupe_key returns the original receipt with 200,
not an error (idempotent replay, Stripe-style).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateReceiptRequest
*/
func (a *MerchantReceiptsAPIService) CreateReceipt(ctx context.Context) ApiCreateReceiptRequest {
	return ApiCreateReceiptRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReceiptImmediateResponse
func (a *MerchantReceiptsAPIService) CreateReceiptExecute(r ApiCreateReceiptRequest) (*ReceiptImmediateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReceiptImmediateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantReceiptsAPIService.CreateReceipt")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/merchant/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.receiptCreate == nil {
		return localVarReturnValue, nil, reportError("receiptCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.receiptCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetReceiptRequest struct {
	ctx context.Context
	ApiService *MerchantReceiptsAPIService
	receiptId string
}

func (r ApiGetReceiptRequest) Execute() (*MerchantReceiptResponse, *http.Response, error) {
	return r.ApiService.GetReceiptExecute(r)
}

/*
GetReceipt Get Receipt

Get receipt by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptId
 @return ApiGetReceiptRequest
*/
func (a *MerchantReceiptsAPIService) GetReceipt(ctx context.Context, receiptId string) ApiGetReceiptRequest {
	return ApiGetReceiptRequest{
		ApiService: a,
		ctx: ctx,
		receiptId: receiptId,
	}
}

// Execute executes the request
//  @return MerchantReceiptResponse
func (a *MerchantReceiptsAPIService) GetReceiptExecute(r ApiGetReceiptRequest) (*MerchantReceiptResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantReceiptResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantReceiptsAPIService.GetReceipt")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/merchant/receipts/{receipt_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"receipt_id"+"}", url.PathEscape(parameterValueToString(r.receiptId, "receiptId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListReceiptsRequest struct {
	ctx context.Context
	ApiService *MerchantReceiptsAPIService
	page *int32
	limit *int32
	storeId *string
	status *string
	search *string
	sortBy *string
	sortOrder *string
}

func (r ApiListReceiptsRequest) Page(page int32) ApiListReceiptsRequest {
	r.page = &page
	return r
}

func (r ApiListReceiptsRequest) Limit(limit int32) ApiListReceiptsRequest {
	r.limit = &limit
	return r
}

func (r ApiListReceiptsRequest) StoreId(storeId string) ApiListReceiptsRequest {
	r.storeId = &storeId
	return r
}

func (r ApiListReceiptsRequest) Status(status string) ApiListReceiptsRequest {
	r.status = &status
	return r
}

func (r ApiListReceiptsRequest) Search(search string) ApiListReceiptsRequest {
	r.search = &search
	return r
}

func (r ApiListReceiptsRequest) SortBy(sortBy string) ApiListReceiptsRequest {
	r.sortBy = &sortBy
	return r
}

func (r ApiListReceiptsRequest) SortOrder(sortOrder string) ApiListReceiptsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiListReceiptsRequest) Execute() (*ReceiptListResponse, *http.Response, error) {
	return r.ApiService.ListReceiptsExecute(r)
}

/*
ListReceipts List Receipts

List receipts with filters and pagination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListReceiptsRequest
*/
func (a *MerchantReceiptsAPIService) ListReceipts(ctx context.Context) ApiListReceiptsRequest {
	return ApiListReceiptsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReceiptListResponse
func (a *MerchantReceiptsAPIService) ListReceiptsExecute(r ApiListReceiptsRequest) (*ReceiptListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReceiptListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantReceiptsAPIService.ListReceipts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/merchant/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.storeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "store_id", r.storeId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	} else {
		var defaultValue string = "created_at"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", defaultValue, "form", "")
		r.sortBy = &defaultValue
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRefreshReceiptQrRequest struct {
	ctx context.Context
	ApiService *MerchantReceiptsAPIService
	receiptId string
}

func (r ApiRefreshReceiptQrRequest) Execute() (*QRRefreshResponse, *http.Response, error) {
	return r.ApiService.RefreshReceiptQrExecute(r)
}

/*
RefreshReceiptQr Refresh Qr Code

Refresh QR code for a receipt.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptId
 @return ApiRefreshReceiptQrRequest
*/
func (a *MerchantReceiptsAPIService) RefreshReceiptQr(ctx context.Context, receiptId string) ApiRefreshReceiptQrRequest {
	return ApiRefreshReceiptQrRequest{
		ApiService: a,
		ctx: ctx,
		receiptId: receiptId,
	}
}

// Execute executes the request
//  @return QRRefreshResponse
func (a *MerchantReceiptsAPIService) RefreshReceiptQrExecute(r ApiRefreshReceiptQrRequest) (*QRRefreshResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QRRefreshResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantReceiptsAPIService.RefreshReceiptQr")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/merchant/receipts/{receipt_id}/refresh-qr"
	localVarPath = strings.Replace(localVarPath, "{"+"receipt_id"+"}", url.PathEscape(parameterValueToString(r.receiptId, "receiptId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
